@charset "UTF-8";

.header-content-post {
  height: 27rem;
  width: 100vw;
  background-size: cover !important;
  text-align: center;
  padding-top: 8rem;
}


.header-content-post h1 {
  color: #FFF;
  font-family: Aleo-Bold;
  font-size: 45pt;
  text-transform: uppercase;
}

section {
  text-align: justify;
  padding-top: 4rem;
  padding-right: 10rem;
  padding-left: 10rem;
  padding-bottom: 4rem;
  
}

.content p {
  font-size: 17pt;
  line-height: 32px;
  margin-bottom: 1rem;
}

.content-page {
  margin: 2rem 0;
}

.content-page img {
  float: left;
  margin: 0 3rem 2rem 0;
}

.content span {
  font-style: italic;
  color: grey;
}
